.container-section {
    display: flex;
    /* flex-wrap: wrap; */
    height: 100vh;
    justify-content: space-between;
}

.left-section{
    /* border: 1px solid red; */
    /* background-color: white; */
    padding: 10px;
    margin-right: 5px;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.middle-section {
    /* border: 1px solid red; */
    background-color: #efefef;
    /* border-radius: 20px; */
    padding: 20px;
    width: 80%;
    overflow-y: scroll;
    /* margin-top: 20px; */
    /* margin-bottom: 20px; */
}

.middle-section::-webkit-scrollbar {
    display: none;
}

  /* Hide scrollbar for IE, Edge and Firefox */
.middle-section {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.right-section{
    /* border: 1px solid red; */
    /* background-color: #efefef; */
    padding: 20px;
    margin-left: 5px;
    width: 20%;
    overflow-x: auto;
    overflow-wrap: break-word;
    /* font-size: small; */
}

.right-section > div > h5 {
    padding-bottom: 3px;
    color: rgb(41, 41, 41);
}


.right-section > div > p {
    padding-bottom: 10px;
    color: rgb(41, 41, 41);
    font-size: small;
}

.left-section-menu {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
}


.left-section-logo {
    /* border: 1px solid red; */
    display: flex;
    padding: 10px;
    /* padding-bottom: 20px; */
}

.left-section-logo-icon {
    /* border: 1px solid red; */
    margin-top: 5px;
}

.left-section-logo-text {
    /* border: 1px solid red; */
    padding: 7px 0px 0px 7px;
    margin-top: 5px;
}

.left-section-menu-top {
    /* border: 1px solid red; */
    margin-bottom: 50px;
}

.left-section-menu-items {
    display: flex;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    /* background-color: red; */
}

.left-section-menu-texts {
    margin: 4px;
    padding-top: 2px;;
}

.left-section-menu-middle {
    /* border: 1px solid red; */
    margin-bottom: 50px;
}

.left-section-menu-bottom {
    /* border: 1px solid red; */
    /* display: flex; */
    /* margin-top: 12px; */
    padding: 10px;
    border-radius: 10px;
    background-color: red;
}

#HomeNavButton {
    background-color: rgb(42 154 245 / 10%);
}

@media screen and (min-width: 0px) and (max-width: 800px) {
    .left-section-logo {
        /* border: 1px solid red; */
        display: none;
    }

    .right-section{
        display: none;
    }

    .middle-section {
        width: 100%;
        margin-bottom: 40px;
    }
    
    .left-section{
        /* border: 1px solid red; */
        position: fixed;
        background-color: #ffffff;
        width: 100%;
        left: 0;
        bottom: 0;
        z-index: 1;
    
    }

    .left-section-menu {
        /* border: 1px solid red; */
        flex-direction: row;
        justify-content: space-between;
        /* margin-left: 50px; */
        margin-right: 20px;
        height: 40px;
    }


    .left-section-menu-items {
        /* border: 1px solid black; */
        margin-top: 0px;
        padding: 0px;
        margin: auto;
    }

    .left-section-menu-icons {
        /* border: 1px solid red; */
        width: 25px;
    }

    .left-section-menu-texts {
        display: none;
    }

    #HomeNavButton {
        background-color: transparent;
    }
}