.login-card {
    border-radius: 10px;
    overflow: hidden;
    /* box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75); */
    padding: 20px;
  }
  
.login-form {
  /* border-color: 1px solid red; */
  /* display: inline-block; */
  font-size: 12px;
  color: rgb(49, 49, 49);
  
}

.create-account {
  text-align: center;
}

.create-account > a{
  color: rgb(56, 135, 255);
}

.login-title {
  font-size: 2em;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  outline: none;
  border: 0px;
  background-color: #efefef;
  border-radius: 10px;
  box-sizing: border-box;
}

input:focus {
  outline: none;
}

.login-submit-button {
  width: 100%;
  padding: 12px 20px;
  border: 0px;
  outline: none;
  color: white;
  border-radius: 10px;
  background-color: #1b53f4;

}

.password-forgot-combined {
  display: flex;
  justify-content: space-between;
}

.forgot-password {
  color: rgb(56, 135, 255);
}

/* Show border on login form on small screen */
@media screen and (min-width: 0px) and (max-width: 700px) {
  .login-card {box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75);}
}