.torrent-card{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 5px;
    background-color: white
}

.torrent-card-menu {
    /* border: 1px solid red; */
    position: relative;
}

.torrent-card-menu-dot-wrapper{
    /* border: 1px solid blue; */
    padding: 0px 0px 5px 5px;
    cursor: pointer;
}

.torrent-card-menu-dot {
    /* border: 1px solid red; */
    background-color: rgb(216, 216, 216);
    border-radius: 50%;
    height: 3px;
    width: 3px;
    margin-top: 2px;
}

.torrent-card-menu-contents {
    /* border: 1px solid blue; */
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    /* padding: 10px; */
    border-radius: 10px;
    position: absolute;
    width: 175px;
    height: 220px;
    margin-left: -170px;
    z-index: 1;
    cursor: pointer;
}

.torrent-card-menu-contents > p {
    /* border: 1px solid red; */
    padding-bottom: 12px;
    padding: 6px 10px 6px 10px;
}

.torrent-card-menu-contents > p:hover {
    background-color: rgb(42 154 245 / 10%);
}